body{
  margin: 0;
  padding: 0;
  background-color: #000000;
}
#bg-container{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 3000px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  @media screen and (max-width: 3000px) {
    left: 50%;
    margin-left: -1500px;   /* 50% */
  }
}
#app-content{
  position: relative;
  z-index: 1;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px 0;
  #logo{
    text-align: center;
    margin: 0 auto;
    // this prevents a bizarre behavior of the container div in small
    max-width: 328px;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    margin: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin: 20px auto;
  }
}
